<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DATABASE_URL</key>
	<string>https://student-record-5764b-default-rtdb.firebaseio.com/</string>
	<key>CLIENT_ID</key>
	<string>558088375422-aso7c5pl72g9ikis1sp1t34tg6auq09d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558088375422-aso7c5pl72g9ikis1sp1t34tg6auq09d</string>
	<key>API_KEY</key>
	<string>AIzaSyBe2o4pm7CDxjk7OLt_TvCMmkUSrFG_Wos</string>
	<key>GCM_SENDER_ID</key>
	<string>558088375422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.globaldelight.internProject</string>
	<key>PROJECT_ID</key>
	<string>student-record-5764b</string>
	<key>STORAGE_BUCKET</key>
	<string>student-record-5764b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:558088375422:ios:dc716dfb51c6d5f69f1c2f</string>
</dict>
</plist>
